.social_handles_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social_handles_container .social_handle {
  position: relative;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size as needed */
  height: 40px;
  background-color: var(--color-primary);
}

.social_handles_container .tooltip {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  background: linear-gradient(260deg, var(--color-dark) 0%, var(--color-primary) 100%);
  color: var(--color-text);
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social_handles_container .tooltip::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  background: linear-gradient(260deg, var(--color-dark) 0%, var(--color-primary) 100%);
}

/* Corrected hover effect */
.social_handles_container .social_handle:hover .tooltip {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}
